*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


main{
  margin: 5px auto;
  background: linear-gradient(0deg, rgba(251,233,13,1) 23%, rgba(255,255,255,1) 67%);
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1.5fr 2fr;
  grid-gap:10px;
  padding: 10px;
}

.logo{
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar{
  grid-row: 2/5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain-data{
  text-align: justify;
}
.contain-data ul{
  font-size: 1rem;
}
.contain-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divider{
  width: 90%;
  margin: 10px auto;
  border: 1px solid tomato;
}


.footer{
  grid-column: 1/-1;
  font-size: 1em;
  background-color: tomato;
}

.footer ul{
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

h4{
  text-align: justify;
}

ul li{
  text-align: justify;
}
p{
  text-align: center;
}



@media (max-width: 767px) {
  main {
    background: linear-gradient(360deg, rgba(251,233,13,1) 23%, rgba(255,255,255,1) 67%);
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto auto auto; 
    
  }

  .sidebar {
    grid-row: auto;
  }

  .image {
    grid-column: auto; 
  }

  .footer {
    grid-column: auto;
    font-size: .5em;
  }
}